.slick-dots .slick-active button::before{
    background-color: #fff !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    color: #ffffff00 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li button::before{
    background-color: #fff !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    padding: 0px !important;
    color: #ffffff00 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}